<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lechi.yxx.mapper.StoreProductOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lechi.yxx.model.StoreProductOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="store_id" property="storeId" />
        <result column="user_id" property="userId" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="product_pic" property="productPic" />
        <result column="price" property="price" />
        <result column="credit_price" property="creditPrice" />
        <result column="count" property="count" />
        <result column="pay_price" property="payPrice" />
        <result column="create_dt" property="createDt" />
        <result column="pay_dt" property="payDt" />
        <result column="expire_dt" property="expireDt" />
        <result column="complete_dt" property="completeDt" />
        <result column="status" property="status" />
        <result column="share_price" property="sharePrice" />
        <result column="enroll_id" property="enrollId" />
        <result column="code" property="code" />
        <result column="share_profit" property="shareProfit" />
        <result column="address" property="address" />
        <result column="invite_user_id" property="inviteUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, store_id, user_id, product_id, product_name, product_pic, price, credit_price, count, pay_price, create_dt, pay_dt, expire_dt, complete_dt, status, share_price, enroll_id, code, share_profit, address, invite_user_id
    </sql>

</mapper>
