<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lechi.yxx.mapper.StoreWxappMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lechi.yxx.model.StoreWxapp">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="platform_key" property="platformKey" />
        <result column="token" property="token" />
        <result column="component_verify_ticket" property="componentVerifyTicket" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, app_secret, platform_key, token, component_verify_ticket
    </sql>

</mapper>
